.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  margin-bottom: 20px;
}

.pagActual {
  border-radius: 5px;
  border: none;
  background: rgba(213, 165, 245, 0.897);
  color: hsl(0, 0%, 0%);
  margin: 2px;
  margin-block-end: 10px;
  font-size: 17px;
  display: inline;
  align-items: flex-start;
  justify-content: end;
  cursor: pointer;
  box-shadow: 0rem 0.1875rem 0.375rem rgb(68, 63, 53);
}

.pagOther {
  border-radius: 5px;
  border: none;
  background: rgba(213, 165, 245, 0.295);
  color: hsl(0, 0%, 0%);
  margin: 2px;
  margin-block-end: 10px;
  font-size: 17px;
  display: inline;
  align-items: flex-start;
  justify-content: end;
  cursor: pointer;
  box-shadow: 0rem 0.1875rem 0.375rem rgb(68, 63, 53);
}
